[user]
	name = James.Henderson
	email = james.henderson@reversec.com

[includeIf "hasconfig:remote.*.url:git@git.reversec.com:*/**"]
  path = ~/.gitconfig-work
[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
  path = ~/.gitconfig-priv
[includeIf "hasconfig:remote.*.url:https://github.com/*/**"]
  path = ~/.gitconfig-priv
[init]
	defaultBranch = main

[core]
    editor = /snap/bin/subl -n -w
    pager = delta

[pager]
    log = cat
    show = cat
    diff = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictStyle = zdiff3